VITE_SUPABASE_URL=https://xzgwfluyzvwjjqtbwvnt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6Z3dmbHV5enZ3ampxdGJ3dm50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDI0MDUsImV4cCI6MjA5NjY3ODQwNX0.gLDjsPoE7j5bPLtB7Nuv9tr5elxRBWePryLAiGhO1uw